2-1大二上/数据结构朱晓莲/数据结构习题解析/数据结构习题解析1-463汇总.pdf filter=lfs diff=lfs merge=lfs -text
2-2大二下/数据库系统概论（王媛妮）/MySQL学习/MySQL[[:space:]]Installation[[:space:]]and[[:space:]]Setup[[:space:]]for[[:space:]]C++[[:space:]]Development[[:space:]]on[[:space:]]Visual[[:space:]]Studio[[:space:]]2017.mp4 filter=lfs diff=lfs merge=lfs -text
2-2大二下/数据库系统概论（王媛妮）2-2大二下/数据库系统概论（王媛妮）/上机相关/Oracle上机资料.rar filter=lfs diff=lfs merge=lfs -text
3-2大三下/大数据技术基础（卢超）/技术资料/刘鹏-实战Hadoop—开启通向云计算的捷径.pdf filter=lfs diff=lfs merge=lfs -text
3-2大三下/大数据技术基础（卢超）/技术资料/蔡斌-Hadoop技术内幕-深入解析HADOOP[[:space:]]COMMON和HDFS架构设计与实现原理.pdf filter=lfs diff=lfs merge=lfs -text
3-2大三下/大数据技术基础（卢超）/技术资料/Hadoop权威指南中文版.pdf filter=lfs diff=lfs merge=lfs -text
3-2大三下/计算机前沿介绍（童恒建）/课件/本科生：计算机技术前沿--计算机地学应用(2020-刘刚).pdf filter=lfs diff=lfs merge=lfs -text
3-2大三下/计算机网络B（陈喆）/计算机网络（2019王道考研）/2021年计算机网络考研复习指导【王道考研】.pdf filter=lfs diff=lfs merge=lfs -text
